.git
.vs
.vscode
.gitignore
.gitlab-ci.yml
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
jestconfig.json
docker-compose.yml
eslintrc.js
test/
coverage/
configurations/
dist/config.json
node_modules/
.env